<!DOCTYPE html>
	<html ng-app='App'>
	<head>
		<meta charset="utf-8">
		<title>AngularJS Example</title>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<!--changing scope value asynchronously updates don't propagate with .apply() -->
		<script >
			var nameApp = angular.module('App', []);
			nameApp.controller('NameCtrl', function($scope){
				$scope.FirstName = 'Chhiring';

				$scope.$watch('LastName', function(newValue, oldValue){
					console.log('new Value is ' + newValue);
					console.log('old value is ' + oldValue);
				});

				setTimeout(function(){
					$scope.LastName = 'Gurung';
					$scope.$apply();
				}, 2000);
			});
		</script>
	</head>
	<body ng-controller="NameCtrl">
		First Name: <input type="text"  ng-model="FirstName" /><br>
		Last Name: <input type="text"  ng-model="LastName" /><br>		
		Hello {{FirstName}} {{LastName}}
	</body>
</html>